In [2]:
import numpy as np
import pandas as pd

In [53]:
data = pd.read_csv("../data/planning/bristol_planning_applications_jan_2017.csv")

In [54]:
data["StartYear"] = data["REFVAL"].str.split("/").str.get(0)

In [55]:
data["Postcode"] = data["ADDRESS"].str.split("Bristol").str.get(-1)

In [68]:
bs4_data = data[data["Postcode"].str.startswith("BS4 ").astype(bool)]

In [73]:
bs4_data.to_csv("../data/planning/bristol_planning_applications_bs4.csv")

In [72]:
bs4_data_latest = bs4_data[bs4_data["StartYear"] > "10"]

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [64]:
bs4_data_latest.to_csv("")

,OBJECTID,REFVAL,ADDRESS,PROPOSAL,STATUS,DECISION,DEC_DATE,SHAPE.AREA,SHAPE.LEN,OBJECTID_1,StartYear,Postcode
6494,184680,16/01801/F,509A Bath RoadBrislingtonBristolBS4 3LA,Change of use from office/workshop to single d...,GRANTED subject to condition(s),GRANTED subject to condition(s),525984768.0,0,0,184680,16,BS4 3LA

In [43]:
latest_data["ADDRESS"].str.split("Bristol").str.get(-1)

4692     BS9 4DT
6026     BS7 8EL
6493     BS8 4BD
6494     BS4 3LA
6495     BS3 4QQ
9589    BS13 8LD
Name: ADDRESS, dtype: object